@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">
                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/website/images/nav_left_downloads.gif" width="204" height="278" border="0" usemap="#Map3"></div></td>
                                                <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_download_game.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertext">
                                                                    System Requirements<br> <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#FFFFFF">
                                                                        <tbody>
                                                                            <tr bgcolor="#999966">
                                                                                <td width="26%">
                                                                                    <div align="left">
                                                                                        <strong>
                                                                                            <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                                Hardware
                                                                                                / Software
                                                                                            </font>
                                                                                        </strong>
                                                                                    </div>
                                                                                </td>
                                                                                <td width="36%">
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            <strong>
                                                                                                Minimum
                                                                                                Requirement
                                                                                            </strong>
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                                <td width="38%">
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            <strong>
                                                                                                ReCommented
                                                                                                Requirement
                                                                                            </strong>
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr bgcolor="#999966">
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            Operating
                                                                                            System
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            Windows
                                                                                            98/2000/XP/ME
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            Windows
                                                                                            98/2000/XP/ME
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr bgcolor="#999966">
                                                                                <td><div align="left"><font color="#FFFFFF" size="2" face="Trebuchet MS">CPU</font></div></td>
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            Celeron
                                                                                            300 or above
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            Pentium
                                                                                            II 400 or above
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr bgcolor="#999966">
                                                                                <td><div align="left"><font color="#FFFFFF" size="2" face="Trebuchet MS">Memory</font></div></td>
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            128
                                                                                            MB or above
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            256
                                                                                            MB or above
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr bgcolor="#999966">
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            Hard
                                                                                            Disk Space
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            400MB
                                                                                            or above
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            600MB
                                                                                            or above
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr bgcolor="#999966">
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            Video
                                                                                            Card
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            16MB
                                                                                            or above 3D Display Cards with DirectX support
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            32MB
                                                                                            or above 3D Display Cards with DirectX support
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr bgcolor="#999966">
                                                                                <td>
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            Additional
                                                                                            Software
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                                <td colspan="2" bgcolor="#999966">
                                                                                    <div align="left">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            DirectX
                                                                                            8.1 or Above
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Please check whether your system specification meets the system
                                                                    requirement before you download the setup file. Execute the
                                                                    file after the download is completed. Please follow the on-screen
                                                                    instruction. If you haven't registered, please do so by going
                                                                    to the <a href="@Url.Action("Register","Home")"><strong>sign-up</strong></a>
                                                                    page.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="35"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertext">
                                                                    Knight Online Client Download<br> <table width="100%" border="1" cellpadding="5" cellspacing="0" bordercolor="#FFFFFF" bgcolor="#999966">
                                                                        <tbody>
                                                                            <tr>
                                                                                <!-- <td width="29%"> <a href="/web/20051028040523/http://www.download.com/3001-7541_4-10369319.html"> -->
                                                                                <td width="29%">
                                                                                    <a href="https://mega.nz/#!AQo0lTab!T0IHcWLvqbsJAf8kjnvtkPxiIGQvA93OxUYvjaoro3w">
                                                                                        <img src="~/Content/Website/images/dwnbtn.gif" width="150" height="40" border="0">
                                                                                    </a>
                                                                                </td>
                                                                                <td width="71%">
                                                                                    <div align="center">
                                                                                        <font color="#FFFFFF" size="2" face="Trebuchet MS">
                                                                                            <strong>
                                                                                                Knight
                                                                                                Online Setup Version 1.301(347MB)
                                                                                            </strong>
                                                                                        </font>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="35"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <map name="MapMap">
                                        <area shape="rect" coords="20,2,83,17" href="#">
                                        <area shape="rect" coords="87,2,164,17" href="#">
                                    </map>
                                    <map name="Map2Map">
                                        <area shape="rect" coords="1,6,46,49" href="#">
                                    </map>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </td>
        </tr>
    </tbody>
</table>

<map name="Map3">
    <area shape="rect" coords="29,57,174,88" href="@Url.Action("GameClient")">
    <area shape="rect" coords="29,93,174,123" href="@Url.Action("Wallpaper")">
    <area shape="rect" coords="29,128,174,156" href="@Url.Action("Screenshots")">
    <area shape="rect" coords="29,163,174,191" href="@Url.Action("ConceptArt")">
    <area shape="rect" coords="29,198,174,226" href="@Url.Action("Video")">
</map>