@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">


                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/website/images/nav_left_downloads.gif" width="204" height="278" border="0" usemap="#Map3"></div></td>
 <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_download_screenshots.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td><a href="~/Content/Website/images/screenshot/abyss_elmorad.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/abyss_elmorad_t.jpg" width="180" height="144" border="0"></a></td>
                                                                                <td><div align="center"><a href="~/Content/Website/images/screenshot/abyss_magician.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/abyss_magician_t.jpg" width="180" height="144" border="0"></a></div></td>
                                                                                <td><div align="right"><a href="~/Content/Website/images/screenshot/abyss_town.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/abyss_town_t.jpg" width="180" height="144" border="0"></a></div></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="~/Content/Website/images/screenshot/delos_elmorad.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/delos_elmorad_t.jpg" width="180" height="144" border="0"></a></td>
                                                                                <td><div align="center"><a href="~/Content/Website/images/screenshot/moradon_field.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/moradon_field_t.jpg" width="180" height="144" border="0"></a></div></td>
                                                                                <td><div align="right"><a href="~/Content/Website/images/screenshot/moradon_gate2.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/moradon_gate2_t.jpg" width="180" height="144" border="0"></a></div></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="~/Content/Website/images/screenshot/moradon_gate.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/moradon_gate_t.jpg" width="180" height="144" border="0"></a></td>
                                                                                <td><div align="center"><a href="~/Content/Website/images/screenshot/moradon_town.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/moradon_town_t.jpg" width="180" height="144" border="0"></a></div></td>
                                                                                <td><div align="right"><a href="~/Content/Website/images/screenshot/pianavillage2.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/pianavillage2_t.jpg" width="180" height="144" border="0"></a></div></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="~/Content/Website/images/screenshot/pianavillage.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/pianavillage_t.jpg" width="180" height="144" border="0"></a></td>
                                                                                <td><div align="center"><a href="~/Content/Website/images/screenshot/Untitled-1.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/Untitled-1_t.jpg" width="180" height="144" border="0"></a></div></td>
                                                                                <td><div align="right"><a href="~/Content/Website/images/screenshot/Untitled-2.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/Untitled-2_t.jpg" width="180" height="144" border="0"></a></div></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="~/Content/Website/images/screenshot/Untitled-4.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/Untitled-4_t.jpg" width="180" height="144" border="0"></a></td>
                                                                                <td><div align="center"><a href="~/Content/Website/images/screenshot/Untitled-5.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/Untitled-5_t.jpg" width="180" height="144" border="0"></a></div></td>
                                                                                <td><div align="right"><a href="~/Content/Website/images/screenshot/Untitled-7.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/Untitled-7_t.jpg" width="180" height="144" border="0"></a></div></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><a href="~/Content/Website/images/screenshot/Untitled-9.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/Untitled-9_t.jpg" width="180" height="144" border="0"></a></td>
                                                                                <td><div align="center"><a href="~/Content/Website/images/screenshot/Untitled-10.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/Untitled-10_t.jpg" width="180" height="144" border="0"></a></div></td>
                                                                                <td><div align="right"><a href="~/Content/Website/images/screenshot/Untitled-11.jpg" target="_blank"><img src="~/Content/Website/images/screenshot/Untitled-11_t.jpg" width="180" height="144" border="0"></a></div></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <map name="MapMap">
                                        <area shape="rect" coords="20,2,83,17" href="#">
                                        <area shape="rect" coords="87,2,164,17" href="#">
                                    </map>
                                    <map name="Map2Map">
                                        <area shape="rect" coords="1,6,46,49" href="#">
                                    </map>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </td>
        </tr>
    </tbody>
</table>

<map name="Map3">
    <area shape="rect" coords="29,57,174,88" href="@Url.Action("GameClient")">
    <area shape="rect" coords="29,93,174,123" href="@Url.Action("Wallpaper")">
    <area shape="rect" coords="29,128,174,156" href="@Url.Action("Screenshots")">
    <area shape="rect" coords="29,163,174,191" href="@Url.Action("ConceptArt")">
    <area shape="rect" coords="29,198,174,226" href="@Url.Action("Video")">
</map>