@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">


                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/website/images/nav_left_downloads.gif" width="204" height="278" border="0" usemap="#Map3"></div></td>
 <!--2nd Column, Divider-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td width="710" valign="top">
                                                    <table width="620" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_download_wp.gif" width="618" height="65"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="33%"><img src="~/Content/Website/images/wallpapers/ko_wallpaper_01t.gif" width="160" height="120"></td>
                                                                                <td width="33%"><div align="center"><img src="~/Content/Website/images/wallpapers/ko_wallpaper_02t.gif" width="160" height="120"></div></td>
                                                                                <td width="34%"><div align="right"><img src="~/Content/Website/images/wallpapers/ko_wallpaper_03t.gif" width="160" height="120"></div></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="5" colspan="3"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="160" border="0" cellspacing="0" cellpadding="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div align="center">
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_01_800x600.jpg" target="_blank"><img src="~/Content/Website/images/ico_800_600.gif" width="51" height="11" border="0"></a>&nbsp;<a href="~/Content/Website/images/wallpapers/ko_wallpaper_01_1024x768.jpg" target="_blank"><img src="~/Content/Website/images/ico_1024_768.gif" width="54" height="11" border="0"></a><br>
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_01_1280x1024.jpg" target="_blank"><img src="~/Content/Website/images/ico_1280_1024.gif" width="59" height="11" border="0"></a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div align="center">
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_02_800x600.jpg" target="_blank"><img src="~/Content/Website/images/ico_800_600.gif" width="51" height="11" border="0"></a>&nbsp;<a href="~/Content/Website/images/wallpapers/ko_wallpaper_02_1024x768.jpg" target="_blank"><img src="~/Content/Website/images/ico_1024_768.gif" width="54" height="11" border="0"></a><br>
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_02_1280x1024.jpg" target="_blank"><img src="~/Content/Website/images/ico_1280_1024.gif" width="59" height="11" border="0"></a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table width="160" border="0" align="right" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div align="center">
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_03_800x600.jpg" target="_blank"><img src="~/Content/Website/images/ico_800_600.gif" width="51" height="11" border="0"></a>&nbsp;<a href="~/Content/Website/images/wallpapers/ko_wallpaper_03_1024x768.jpg" target="_blank"><img src="~/Content/Website/images/ico_1024_768.gif" width="54" height="11" border="0"></a><br>
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_03_1280x1024.jpg" target="_blank"><img src="~/Content/Website/images/ico_1280_1024.gif" width="59" height="11" border="0"></a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="35" colspan="3"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><img src="~/Content/Website/images/wallpapers/ko_wallpaper_04t.gif" width="160" height="120"></td>
                                                                                <td><div align="center"><img src="~/Content/Website/images/wallpapers/ko_wallpaper_05t.gif" width="160" height="120"></div></td>
                                                                                <td><div align="right"><img src="~/Content/Website/images/wallpapers/ko_wallpaper_06t.gif" width="160" height="120"></div></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="5" colspan="3"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="160" border="0" cellspacing="0" cellpadding="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div align="center">
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_04_800x600.jpg" target="_blank"><img src="~/Content/Website/images/ico_800_600.gif" width="51" height="11" border="0"></a>&nbsp;<a href="~/Content/Website/images/wallpapers/ko_wallpaper_04_1024x768.jpg" target="_blank"><img src="~/Content/Website/images/ico_1024_768.gif" width="54" height="11" border="0"></a><br>
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_04_1280x1024.jpg" target="_blank"><img src="~/Content/Website/images/ico_1280_1024.gif" width="59" height="11" border="0"></a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div align="center">
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_05_800x600.jpg" target="_blank"><img src="~/Content/Website/images/ico_800_600.gif" width="51" height="11" border="0"></a>&nbsp;<a href="~/Content/Website/images/wallpapers/ko_wallpaper_05_1024x768.jpg" target="_blank"><img src="~/Content/Website/images/ico_1024_768.gif" width="54" height="11" border="0"></a><br>
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_05_1280x1024.jpg" target="_blank"><img src="~/Content/Website/images/ico_1280_1024.gif" width="59" height="11" border="0"></a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table width="160" border="0" align="right" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div align="center">
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_06_800x600.jpg" target="_blank"><img src="~/Content/Website/images/ico_800_600.gif" width="51" height="11" border="0"></a>&nbsp;<a href="~/Content/Website/images/wallpapers/ko_wallpaper_06_1024x768.jpg" target="_blank"><img src="~/Content/Website/images/ico_1024_768.gif" width="54" height="11" border="0"></a><br>
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_06_1280x1024.jpg" target="_blank"><img src="~/Content/Website/images/ico_1280_1024.gif" width="59" height="11" border="0"></a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="35" colspan="3"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><img src="~/Content/Website/images/wallpapers/ko_wallpaper_07t.gif" width="160" height="120"></td>
                                                                                <td><div align="center"><img src="~/Content/Website/images/wallpapers/ko_wallpaper_08t.gif" width="160" height="120"></div></td>
                                                                                <td><div align="right"><img src="~/Content/Website/images/wallpapers/ko_wallpaper_09t.gif" width="160" height="120"></div></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="5" colspan="3"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="160" border="0" cellspacing="0" cellpadding="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div align="center">
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_07_800x600.jpg" target="_blank"><img src="~/Content/Website/images/ico_800_600.gif" width="51" height="11" border="0"></a>&nbsp;<a href="~/Content/Website/images/wallpapers/ko_wallpaper_07_1024x768.jpg" target="_blank"><img src="~/Content/Website/images/ico_1024_768.gif" width="54" height="11" border="0"></a><br>
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_07_1280x1024.jpg" target="_blank"><img src="~/Content/Website/images/ico_1280_1024.gif" width="59" height="11" border="0"></a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div align="center">
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_08_800x600.jpg" target="_blank"><img src="~/Content/Website/images/ico_800_600.gif" width="51" height="11" border="0"></a>&nbsp;<a href="~/Content/Website/images/wallpapers/ko_wallpaper_08_1024x768.jpg" target="_blank"><img src="~/Content/Website/images/ico_1024_768.gif" width="54" height="11" border="0"></a><br>
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_08_1280x1024.jpg" target="_blank"><img src="~/Content/Website/images/ico_1280_1024.gif" width="59" height="11" border="0"></a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table width="160" border="0" align="right" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div align="center">
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_09_800x600.jpg" target="_blank"><img src="~/Content/Website/images/ico_800_600.gif" width="51" height="11" border="0"></a>&nbsp;<a href="~/Content/Website/images/wallpapers/ko_wallpaper_09_1024x768.jpg" target="_blank"><img src="~/Content/Website/images/ico_1024_768.gif" width="54" height="11" border="0"></a><br>
                                                                                                        <a href="~/Content/Website/images/wallpapers/ko_wallpaper_09_1280x1024.jpg" target="_blank"><img src="~/Content/Website/images/ico_1280_1024.gif" width="59" height="11" border="0"></a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <map name="MapMap">
                                        <area shape="rect" coords="20,2,83,17" href="#">
                                        <area shape="rect" coords="87,2,164,17" href="#">
                                    </map>
                                    <map name="Map2Map">
                                        <area shape="rect" coords="1,6,46,49" href="#">
                                    </map>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </td>
        </tr>
    </tbody>
</table>

<map name="Map3">
    <area shape="rect" coords="29,57,174,88" href="@Url.Action("GameClient")">
    <area shape="rect" coords="29,93,174,123" href="@Url.Action("Wallpaper")">
    <area shape="rect" coords="29,128,174,156" href="@Url.Action("Screenshots")">
    <area shape="rect" coords="29,163,174,191" href="@Url.Action("ConceptArt")">
    <area shape="rect" coords="29,198,174,226" href="@Url.Action("Video")">
</map>