<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link type="text/css" rel="stylesheet" href="~/Content/Website/css/banner-styles.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Website/css/menu.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Website/css/site.css">
    <title>OpenKO Global Website</title>
    <meta name="description" content="Knight Online Official website offers support and content for players of the MMORPG, Knight Online.">
    <meta name="keywords" content="free mmorpg, KOL, medieval game, knight of the empire, free mmo">
    <link href="~/Content/Website/css/stylesheet.css" rel="stylesheet" type="text/css">
    <script language="javascript" src="~/Content/Website/js/create.js"></script>
    <script language="JavaScript" src="~/Content/Website/js/global.js"></script>
    <script language="JavaScript" src="~/Content/Website/js/common.js"></script>
    <script language="JavaScript" src="~/Content/Website/js/mm_menu.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script language="JavaScript" type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
    </script>
</head>
<body>
    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td><a href="/"><img src="~/Content/website/images/logo_knightonline.gif" alt="OpenKO" width="305" height="115" border="0"></a></td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td><a href="/" onmouseover="MM_swapImage('Home', '', '/Content/Website/images/nav_01_on.gif', 1)" onmouseout=" MM_swapImgRestore()"><img src="~/Content/Website/images/nav_01_off.gif" name="Home" width="125" height="25" border="0" id="Image2"></a></td>
                                <td><a href="/" onmouseover="MM_swapImage('News', '', '/Content/Website/images/nav_02_on.gif', 1)" onmouseout=" MM_swapImgRestore()"><img src="~/Content/Website/images/nav_02_off.gif" name="News" width="125" height="25" border="0" id="Image3"></a></td>
                                <td><a href="@Functions.ResolveServerUrl(VirtualPathUtility.ToAbsolute("~/Home/Features"), false)" onmouseover="MM_swapImage('Game Info', '', '/Content/Website/images/nav_03_on.gif', 1); MM_showMenu(window.mm_menu_0906164343_0, 0, 26, null, 'Game Info')" onmouseout=" MM_swapImgRestore(); MM_startTimeout();"><img src="~/Content/Website/images/nav_03_off.gif" name="Game Info" width="125" height="25" border="0" id="Image4"></a></td>
                                <td><a href="@Functions.ResolveServerUrl(VirtualPathUtility.ToAbsolute("~/Home/GameClient"), false)" onmouseover="MM_swapImage('Download', '', '/Content/Website/images/nav_04_on.gif', 1); MM_showMenu(window.mm_menu_0906163344_0, 0, 26, null, 'Download')" onmouseout=" MM_swapImgRestore(); MM_startTimeout();"><img src="~/Content/Website/images/nav_04_off.gif" name="Download" width="125" height="25" border="0" id="Image5"></a></td>
                                <td><a href="#" onmouseover="MM_swapImage('Guide', '', '/Content/Website/images/nav_05_on.gif', 1); MM_showMenu(window.mm_menu_0906150851_0, 0, 26, null, 'Guide')" onmouseout=" MM_swapImgRestore(); MM_startTimeout();"><img src="~/Content/Website/images/nav_05_off.gif" name="Guide" width="125" height="25" border="0" id="Image6"></a></td>
                                <td><a href="@Functions.ResolveServerUrl(VirtualPathUtility.ToAbsolute("~/Home/Faq"), false)" onmouseover="MM_swapImage('Support', '', '/Content/Website/images/nav_06_on.gif', 1); MM_showMenu(window.mm_menu_0906152540_0, 0, 26, null, 'Support')" onmouseout=" MM_swapImgRestore(); MM_startTimeout();"><img src="~/Content/Website/images/nav_06_off.gif" name="Support" width="125" height="25" border="0" id="Image7"></a></td>
                                <td><a href="@Functions.ResolveServerUrl(VirtualPathUtility.ToAbsolute("~/Home/LunarWar"), false)" onmouseover="MM_swapImage('Events', '', '/Content/Website/images/nav_07_on.gif', 1); MM_showMenu(window.mm_menu_0906161632_0, 0, 26, null, 'Events')" onmouseout=" MM_swapImgRestore(); MM_startTimeout();"><img src="~/Content/Website/images/nav_07_off.gif" name="Events" width="125" height="25" border="0" id="Image8"></a></td>
                                <td><a href="http://ko4life.net/topic/50-the-openko-project/" onmouseover="MM_swapImage('Community', '', '/Content/Website/images/nav_08_on.gif', 1)" onmouseout=" MM_swapImgRestore()"><img src="~/Content/Website/images/nav_08_off.gif" name="Community" width="125" height="25" border="0" id="Image9"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    @RenderBody()
    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td><img src="~/Content/Website/images/footer_copyright.gif" width="1000" height="93" border="0" usemap="#Map"></td>
            </tr>
        </tbody>
    </table>
    <map name="Map">
        <area shape="rect" coords="106,50,214,64" href="#">
        <area shape="rect" coords="226,49,300,64" href="#">
        <area shape="rect" coords="312,49,401,65" href="#">
    </map>
    <map name="Map">
        <area shape="rect" coords="20,2,83,17" href="#">
        <area shape="rect" coords="87,2,164,17" href="#">
    </map>
    <map name="Map2">
        <area shape="rect" coords="1,6,46,49" href="#">
    </map>
    <map name="Map3">
        <area shape="rect" coords="134,6,286,132" href="account/rankings.html">
        <area shape="rect" coords="290,6,460,132" href="downloads/index.html">
        <area shape="rect" coords="462,6,596,134" href="#" onmouseover="switchDiv('status')" onmouseout="hideAll()">
    </map>
</body>
</html>