@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td width="100%" valign="top" align="left">
                <div style="margin-left: 50px;">

                    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" background="~/Content/Website/images/mainframe_bg_mid.gif">
                        <tbody>
                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_top.gif" width="1000" height="87"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="260" valign="top"><div align="right"><img src="~/Content/website/images/nav_left_mykol.png" width="204" height="173" border="0" usemap="#Map3"></div></td>
     <!--2nd Column, Dividok er-->
                                                <td width="30"><img src="~/Content/Website/images/spacer.gif" width="1" height="1"></td>
                                                <!--3rd Column, Right Navigation-->
                                                <td valign="top">
                                                    <table width="710" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                        <tbody>
                                                            <tr>
                                                                <td><img src="~/Content/Website/images/title_account_information.png"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertextr"><div align="center"><br>*** If you do not want change leave blank fields  *** </div></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="headertext">
                                                                    <div>
                                                                        @if (TempData["Error"] != null)
                                                                        {
                                                                            <div style="color: #F00; margin-left: 300px;">@TempData["Error"]</div>
                                                                            TempData["Error"] = null;
                                                                        }
                                                                        @if (TempData["Information"] != null)
                                                                        {
                                                                            <div style="color: #317102; margin-left: 300px;">@TempData["Information"]</div>
                                                                            TempData["Information"] = null;
                                                                        }
                                                                    </div>
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="maintext">

                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <form action="@Url.Action("ChangePassword")" method="post">
                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="maintext">
                                                                                            <tr>
                                                                                                <td style="padding-right:20px;text-align:right">
                                                                                                    Secret Question:
                                                                                                </td>
                                                                                                <td>
                                                                                                   <b>@Functions.GetQuestion(General.User.sQuestionId)</b>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td style="padding-right:20px;text-align:right">
                                                                                                    Secret Question Answer:
                                                                                                </td>
                                                                                                <td>
                                                                                                    <input type="password" name="sQuestionAnswer" maxlength="11" size="15" required="">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr><td><br /></td></tr>

                                                                                            <tr>
                                                                                                <td style="padding-right:20px;text-align:right">
                                                                                                    New Password:
                                                                                                </td>
                                                                                                <td>
                                                                                                    <input type="password" name="NewPassword" maxlength="11" size="15" required>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td style="padding-right:20px;text-align:right">
                                                                                                    New Password Again:
                                                                                                </td>
                                                                                                <td>
                                                                                                    <input type="password" name="NewPasswordAgain" maxlength="11" size="15" required>
                                                                                                </td>
                                                                                            </tr>

                                                                                            <tr><td><br /></td></tr>
                                                                                            <tr>
                                                                                            <tr>
                                                                                                <td></td>
                                                                                                <td style="padding-left:20px">
                                                                                                    <input id="button" style="width:100px;height:30px" type="submit" value="SAVE">
                                                                                                </td>
                                                                                            </tr>

                                                                                        </table>
                                                                                    </form>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="3"><img src="~/Content/Website/images/bg_frame_bottom.gif" width="1000" height="88"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<map name="Map3">
    <area shape="rect" coords="29,57,174,88" href="@Functions.ResolveServerUrl(VirtualPathUtility.ToAbsolute("~/UserCP/Home/Index"), false)">
    <area shape="rect" coords="29,93,174,123" href="@Functions.ResolveServerUrl(VirtualPathUtility.ToAbsolute("~/UserCP/Home/ChangePassword"), false)">
</map>